/*body*/
body{background-color: #2D4C7D;
}
/*header*/
header img{
    max-width: 600px;
    height: auto;
    display: block;
    margin: auto;
}

body header h1 {text-align: right;}
body header h1 a{text-decoration: none;
                color: #FFFFFF;
}

/*barra de navegacion*/

nav{background-color: #FFFFFF;}
nav ul{list-style: none;}
nav ul li a{text-decoration: none;
            color: #223A5F;
}
/*main*/
main div{
    background-color: #223A5F;
    color:#FFFFFF
}
.classregister ul li{
    text-decoration: none;
    list-style: none;
    color: #223A5F;
    background-color: #FFFFFF;
}
/*main htmlconoce*/
.nhistoria{display: flex;}
.lagunasep{display: flex;}
main div img{
    max-width: 300px;
    height: auto;
    margin: left;
}
/*main htmlreservas*/
.habitacionsimple{
    display: flex;
}
.habitacionsuite{display: flex;}
/*footer*/

footer{
    background-color: #223A5F;
}
footer p{
    color: #FFFFFF;
}
.classedescriptionknow{color: #FFFFFF;}

.footer{display: flex;}
footer img {
    display: flex;
    max-width: 50px;
    height: auto;
    display: block;
    margin: left;

}

